/* ****************************** */
/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* root element */
html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;

  /* --- Smooth scrolling animation --- */
  scroll-behavior: smooth;
}

/* <weight>: Use a value from 100 to 900
// <width>: Use a value from 75 to 100
// <uniquifier>: Use a unique and descriptive class name */

/* .roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" <width>;
} */

body {
  /* Google Fonts Roboto */
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  color: #444;

  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;
}

/* ****************************** */
/* General reusable components */
.container {
  /* Another standard size could be 1140px (Conventions) */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.header {
  background-color: cadetblue;
  width: 100%;
  height: 10rem;
  margin-bottom: 4rem;

  padding: 2rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  font-size: 4rem;
}

.navbar {
  font-size: 1.8rem;
}

/* links LV HA */
.navbar a:link,
.navbar a:visited {
  display: inline-block;
  margin-right: 1.2rem;

  color: #eee;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.navbar a:hover,
.navbar a:active {
  color: #aaa;
  border-bottom: 1px solid currentColor;
}

.container {
  width: 75rem;
  height: 30rem;
  background-color: #eed;

  padding: 1rem 2rem;

  font-size: 1.6rem;
}
